<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/indexStyle.css' />
  </head>
  <body>

    <main>
      <form action="/questions">
        <input type="submit" value="Submit" method="post">

        <label for="amount">Amount of Questions</label>
        <input name="amount" type="range" min="1" max="20" value="10" class="slider" id="questionAmount">
      </form>

    </main>
  </body> 
</html>
