<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='./stylesheets/indexStyle.css' />
  </head>
  <body>
    <main>
      <form action="/questions" method="get">
        <input type="submit" value="Start Quiz">
        
        <div class="amount">
          <div>
            <label class="amount-text" for="amount">Amount of Questions:</label>
          </div>

          <div class="amount-slider">
            <div class="amount-min">1</div>
            <input name="amount" type="range" min="1" max="20" value="10" class="slider" id="slider">
            <span id="slider-value">10</span>
          </div>
        </div>
      </form>
    </main>
    <script src="./javascripts/indexScript.js"></script>
  </body> 
</html>
