<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/resultsStyle.css' />
  </head>
  <body>
    <header>

    </header>

    <main>
        <div>
          <h3>Score: <%= score %> / <%= totalQuestions %></h3>
        </div>

        <div class="retry">
            <a href="/">
                <button>Retry</button>
            </a>
        </div>
    </main>
  </body> 
</html>
